Source: td-agent-bit
Section: net
Priority: optional
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Build-Depends: debhelper (>= 10), cmake (>= 2.6), flex (>= 2.6), bison (>= 3.0), libczmq-dev, protobuf-c-compiler, libprotobuf-c-dev, libvyatta-dataplane-proto-support, systemd
Standards-Version: 3.9.8
Homepage: http://fluentbit.io

Package: td-agent-bit
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: flex, bison
Description: High performance Log Forwarder for Linux.
 Fluent Bit is a high performance data collector and log forwarder for Linux. 
 It provides a flexible architecture and plugins to collect, parser, filter and
 deliver logs to different backend types.
